body {
  background-image: url("../images/Group_2.png");
  /* background-size:contain ;
  background-repeat:no-repeat ; */
}
.user-logged-image {
  text-align: right;
  margin-right: 64px;
  margin-top: 48px;
}
.regalix-logo {
  text-align: center;
}
.main-heading {
  position: relative;
}
.heading-text {
  text-align: center;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.month-date {
  text-align: right;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 121px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.month {
  font-size: 20px;
  text-transform: uppercase;
}
.date {
  font-size: 40px;
}
.description-paragraph {
  text-align: center;
  margin-top: 25px;
}
.des-paragraph {
  opacity: 0.8;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.slider {
  margin: 5%;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  background: white;
  padding: 5px;
  border-radius: 20px;
}
.slider-cards {
  position: relative;
  color: white;
  margin: 15px;
  width: 276px;
}
.images {
  width: 100%;
}
.live-now {
  transform: scale(1.1);
}

.slider-header {
  position: absolute;
  color: white;
  top: 20%;
  left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.slider-para {
  position: absolute;
  top: 40%;
  left: 16px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-right: 8px;
}

.top-right-live {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  margin-top: 5%;
  margin-right: 5%;
  width: 78px;
  padding: 5px 0px 5px 0px;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  white-space: nowrap;
}
.live-now-text {
  padding-left: 5px;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
.red-dot {
  position: absolute;
  left: 2px;
  padding-top: 1px;
}
.top-right {
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  margin-top: 5%;
  margin-right: 5%;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 600;
  white-space: nowrap;
  text-transform: uppercase;
}
.users-icon {
  position: absolute;
  top: 70%;
  left: 16px;
}
.user-container {
  position: relative;
}
.img-icon-1 {
  position: absolute;
}
.img-icon-2 {
  position: absolute;
  padding-left: 20px;
}

.img-icon-3 {
  position: absolute;
  padding-left: 40px;
}
.img-icon-4 {
  position: absolute;
  padding-left: 60px;
}
.img-icon-5 {
  position: absolute;
  padding-left: 80px;
}
.number-users {
  position: absolute;
  padding-left: 120px;
  padding-top: 10px;
  white-space: nowrap;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}
.button-live {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.join-button {
  background-color: #ee3465;
  color: #ffffff;
  padding: 12px 70px 12px 70px;
}
.watch-button {
  background-color: #345dee;
  color: #ffffff;
  padding: 12px 70px 12px 70px;
}
.stream-button {
  background-color: #ffab00;
  color: #000000;
  padding: 12px;
  display: flex;
}
.btn-text {
  white-space: nowrap;
}
.btn-image {
  padding-top: 2px;
  padding-right: 5px;
}

/* pop up start */
.mfp-close-btn-in .mfp-close {
  color: white !important;
  position: absolute;
  left: 90%;
}
/* pop up end */
